<!DOCTYPE html>
<html>
<head>
<style>
#map {
min-height: 500px;
width: 100%;
}

@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {
    #map {
      min-height: 100em;
        width: 100%;

    }
}
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
    #map {
      min-height: 100em;
        width: 100%;

    }
}
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
     #map {
      min-height: 100em;
        width: 100%;

    }
}
</style>
</head>
<body>
<img src="/SOLDHEADER.png" id="header">
<br><select name="cars" id="years" onchange="filterMarkers();">
  <option value="show all">show all</option>
  <option value="2012">2012</option>
  <option value="2013">2013</option>
  <option value="2014">2014</option>
  <option value="2015">2015</option>
</select><br>
<div id="map"></div>
<script>






function initMap() {
var map = new google.maps.Map(document.getElementById('map'), {
  zoom: 15,
  center: {lat: 39.0997, lng: -94.5772},
});



var markerArray = []
<% @places.each do |place| %>
<% if place.latitude && place.longitude %>
  var uluru = {lat: <%= place.latitude %>, lng: <%= place.longitude %>}
  var marker = new google.maps.Marker({
    position: uluru,
    map: map,
    id: "hey",
    title: '<%= place.title %>',
    icon: '/' + '<%= place.date %>' + '.png',
    comment: 'KC Code',
  });
  markerArray.push(marker)
  var infowindow = new google.maps.InfoWindow();
  google.maps.event.addListener(marker, 'click', function() {
    var a = $("div[title='<%= place.title %>']")
    console.log('<%= place.title %>')
    infowindow.setContent('<div><strong>' + '<%= place.title %>' + '</strong><br>' +
    'Place ID: <%= place.id %>');
    infowindow.open(map, this);
  });
  <% end %>
  <% end  %>

  marker.addListener('click', function() {
    map.setZoom(12);
    console.log(marker.getCurrentPosition())
    map.setCenter(marker.getPosition());
  });

filterMarkers = function () {
var option = $("#years").val()
markerArray.forEach(function(marker) {
  console.log(marker.icon)
  if(option === "show all"){
    marker.setVisible(true)
  } else if(marker.icon != "/" + option + ".png"){
    marker.setVisible(false)
  }
  else if(marker.icon === "/" + option + ".png") {
    marker.setVisible(true);
  }
})
}


}



</script>
<br><br>
 <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDMA8dq5ARa52eDSwdo1gJBr4ZNOu-DAqY&callback=initMap"
    async defer></script>
</script>
</body>
</html>




